< class="navigation">
    <ul class="main-menu">
        <li class="main-menu">
            <a href="{% url 'main:index' %}"
               class="nav-btn {% if request.resolver_match.url_name == 'index' %} active {% endif %} ">
                Главная
            </a>
        </li>
        <li class="main-menu">
            <a href="{% url 'main:catalog' %}"
               class="nav-btn {% if request.resolver_match.url_name == 'catalog'  or request.resolver_match.url_name == 'category' %} active {% endif %}">
                Каталог
            </a>
        </li>
        {% if user.is_authenticated %}
        <li class="main-menu">
            <a href="{% url 'main:cart' %}"
               class="nav-btn {% if request.resolver_match.url_name == 'cart' %} active {% endif %}">
                Корзина
            </a>
        </li>
        {% endif %}
        <li class="main-menu">
            <a href="{% url 'main:contact' %}"
               class="nav-btn {% if request.resolver_match.url_name == 'contact' %} active {% endif %}">
                Контакты
            </a>
        </li>
        {% if user.is_authenticated %}
        <li class="main-menu">
            <div class="dropdown nav-btn">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    {{ user.first_name|default:'Пользователь' }}
                    <span class="carret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="main-menu">
                        <a href="{% url 'auth:profile' %}" class="nav-btn">
                            Профиль
                        </a>
                    </li>
                    <li class="main-menu">
                        <a href="{% url 'orders:index' %}" class="nav-btn">
                            Заказы
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        {% endif %}
        {% if user.is_superuser %}
        <li class="main-menu">
            <a href="{% url 'kwadmin:index' %}" class="nav-btn">
                Админка
            </a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="main-menu">
            <a href="{% url 'auth:logout' %}" class="nav-btn">
                Выйти
            </a>
        </li>
        {% else %}
        <li class="main-menu">
            <a href="{% url 'auth:login' %}" class="nav-btn">
                Войти
            </a>
        </li>
        {% endif %}
    </ul>
</div>