<div class="navigation">
            <nav>
                <button type="button" class="nav-btn">
                    <a href="/">Главная</a>
                </button>
                <button type="button" class="nav-btn">
                    <a href="/catalog/">Каталог</a>
                </button>
                <button type="button" class="nav-btn">
                    <a href="/cart/">Корзина</a>
                </button>
                <button type="button" class="nav-btn">
                    <a href="/contact/">Контакты</a>
                </button>
            </nav>
        </div>