{% load static %}

{% block navigation2 %}
     {% include 'main/includes/inc__nav2.html' %}
{% endblock %}

<div class="catalog-container">
    <div class="catalog">
        <h1 class="products-title">Каталог игрушек</h1>
        <div class="products">
                {% for item in products %}
                    <div class="product-item">
                        <img src="/media/{{item.img}}" class="product-item-img" alt="Some img">
                        <div class="desc">
                            <h3>{{item.product_name}}</h3>
                            <p><strong>Цена: </strong>{{item.price}}₽</p>
                            <a href="{% url 'cart:add_item' item.pk %}" class="buy-btn catalog-btn">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
</div>