{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Knitted world. {% endblock %}</title>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="{% static 'js/cart.js' %}"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"> <img class="logo-img" src="{% static 'img/logo2.png' %}" alt="logo"> </a>
        </div>
        {% include 'main/includes/inc__main_nav.html' %}
        {% include 'main/includes/inc__cart.html' %}
    </header>

    {% block main %}
        {% block navigation2 %} {% endblock %}
    {% endblock %}
    <footer>
        <div>
            <p>&copy Knitted World, 2020</p>
        </div>
        <div>
            <p>Сегодня {% now "j F Y, l" %} </p>
        </div>

        <div>
            <p>Ссылки:
                <tr>
                    <td class="td-footer">
                        <a href="{% url 'main:contact' %}">
                            <i class="far fa-envelope"></i>
                        </a>
                    </td>
                    <td class="td-footer">
                        <a href="https://www.instagram.com/knitted_world_sd/">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </td>
                     <td class="td-footer">
                         <a href="https://www.instagram.com/knitted_world_sd/">
                            <i class="fab fa-facebook-f"></i>
                         </a>
                    </td>
                </tr>
            </p>
        </div>
        <div>
            <p>Авторские работы Дарьи Скороглядовой</p>
        </div>

        {{ STATICFILES_DIRS }}
    </footer>
</body>
</html>