<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Knitted world. {% endblock %}</title>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script>
        function hideCart() {
            el = document.querySelector('.cart-block');
            if (el.classList.contains("invisible")) {
                el.classList.remove("invisible")
            }
            else {
                el.classList.add("invisible");
            }
        }
    </script>

</head>
<body>
    <header>
        <div class="logo">
            <a href="/"> <img class="logo-img" src="/static/img/logo.png" alt="logo"> </a>
        </div>
        {% include 'main/includes/inc__main_nav.html' %}
        {% include 'main/includes/inc__cart.html' %}
    </header>
    {% block navigation2 %} {% endblock %}
    {% block main %} {% endblock %}
    <footer>
        <div>
            <p>&copy Knitted World, 2020</p>
        </div>
        <div>
            <p>Ссылки:
                <tr>
                    <td class="td-footer"><a href="/contact"><i class="far fa-envelope"></i> </a>
                    </td>
                    <td class="td-footer"><a href="https://www.instagram.com/knitted_world_sd/">
                        <i class="fab fa-instagram"></i></a>
                    </td>
                     <td class="td-footer"><a href="https://www.instagram.com/knitted_world_sd/">
                        <i class="fab fa-facebook-f"></i></a>
                    </td>
                </tr>
            </p>
        </div>
        <div>
            <p>Авторские работы Дарьи Скороглядовой</p>
        </div>
    </footer>
</body>
</html>