{% extends 'main/base.html' %}
{% block title %} {{block.super}}{{page_title|default:"КАТАЛОГ"|title}} {% endblock %}

{% block main %}
<main>
    <div class="product-info-container">
        <div class="product-info">
            <div class="pr-info-short">
                <img src="/media/{{ product.img }}" alt="Some image" class="pr-img">
                <h2 class="pr-info-title">
                    {{product.name}}
                </h2>
                <h3 class="pr-info-price">
                    Цена: {{product.price}}₽
                </h3>
                <div class="pr-info-buy">
                    <!--                    <button class="buy-btn" @click="cartAPI.addProduct(productItem)">-->
                    <!--                        <i class="fas fa-shopping-cart"></i></button>-->
                    <a href="{% url 'cart:add_item' product.pk %}" class="buy-btn catalog-btn">
<!--                        Добавить в корзину-->
                        <i class="fas fa-shopping-cart"></i>
                    </a>

                </div>
            </div>
            <div class="pr-info-details">
                <h3 class="pr-info-size">Размер: </h3>
                <p class="pr-info-text">{{product.size}}</p>
                <h3 class="pr-info-stuff">Материал: </h3>
                <p class="pr-info-text"> {{product.stuff}}</p>
                <h3 class="pr-info-descr"> Описание: </h3>
                <p class="pr-info-text"> {{product.description}}</p>
            </div>
        </div>
        <a href="{% url 'main:catalog' %}" class="buy-btn catalog-btn cat-link">Назад в каталог</a>
    </div>

</main>
{% endblock %}