[Unit]
Description=kwshop daemon
After=network.target

[Service]
User=solda
Group=www-data
WorkingDirectory=/home/solda/kwshop/kwshop
ExecStart=/usr/local/bin/gunicorn --access-logfile server.logs --workers 2 --bind unix:/home/solda/kwshop/kwshop/kwshop.sock kwshop.wsgi

[Install]
WantedBy=multi-user.target