{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Заказы {% endblock %}</title>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!--    <script src="{% static 'js/cart.js' %}"></script>-->
</head>
<body>
    <header class="orders">
        <h1 class="orders-title">Заказы</h1>
    </header>
    <main>
        <div class="orders-container">
            {% block main %}
            {% endblock %}
        </div>
    </main>
</body>
</html>