<div class="button_block">
    {% if object.is_forming%}
        <a href="{% url 'orders:order_complete' object.pk %}"
           class="nav-btn  order-btn">
            совершить покупку
        </a>
        <a href="{% url 'orders:order_delete' pk=object.pk %}"
           class="nav-btn  order-btn">
            удалить
        </a>
    {% endif %}
    <a href="{% url 'orders:index' %}"
       class="nav-btn  order-btn">
        к списку заказов
    </a>
    <a href="{% url 'main:index' %}"
       class="nav-btn order-btn">
        на главную
    </a>
</div>