{% extends 'kwadmin/base.html' %}
{% block title %} {{ block.super }}{{ title|default:"категории(default)"|title }} {% endblock %}

{% block main %}
<div class="admin-container">
    <div class="admin-content">
        <table class="admin-table">
            {% for cat in object_list %}
            <tr class="{% if not cat.is_active %} inactive {% endif %}">
                <td>
                    <p><strong>{{ cat.title|title }}</strong></p>
                </td>
                <td> {{ cat.description }} </td>
                <td>
                    <div class="admin-conf">
                        <button type="button" class="nav-btn">
                            <a href="{% url 'kwadmin:category_products' cat.pk %}">
                                Товары
                            </a>
                        </button>
                        <button type="button" class="nav-btn">
                            <a href="{% url 'kwadmin:category_update' cat.pk %}">
                                Редактировать
                            </a>
                        </button>
                        {% if cat.is_active %}
                        <button type="button" class="nav-btn">
                            <a href="{% url 'kwadmin:category_delete' cat.pk %}">
                                Удалить
                            </a>
                        </button>
                        {% endif %}
                    </div>
                </td>
            <tr>
                {% endfor %}
        </table>
    </div>
    <div class="add-user">
        <button type="button" class="nav-btn add-user-btn">
            <a href="{% url 'kwadmin:category_create' %}">
                Новая категория
            </a>
        </button>
    </div>
</div>
{% endblock %}
