{% extends 'kwadmin/base.html' %}
{% block title %} {{ block.super }}{{ title|default:"пользователи"|title }} {% endblock %}

{% block main %}
<div class="admin-container">
    <div class="admin-content">
        <table class="admin-table">
            {% for kwuser in object_list %}
            <tr class="{% if not kwuser.is_active %} inactive {% endif %}">
                <td><img src="/media/{{ kwuser.avatar }}" alt="{{ kwuser.name }}"></td>
                <td>
                    <p><strong>Пользователь</strong></p>
                    <p>{{ kwuser.username }}</p>
                    <p>
                        {% if kwuser.first_name %}
                        {{ kwuser.first_name }}
                        {% endif %}
                        {% if kwuser.last_name %}
                        {{ kwuser.last_name }}
                        {% endif %}
                    </p>
                </td>
                <td><strong>Тип пользователя:</strong>
                    <p>
                        {% if kwuser.is_superuser %}
                        администратор
                        {% else %}
                        пользователь
                        {% endif %}
                </td>
                <td><strong>Возраст:</strong>
                    <p> {{ kwuser.age }} лет</td>
                <td><strong>Пол:</strong>
                    <p> {{ kwuser.sex }}</td>
                <td><strong> email: </strong> {{ kwuser.email }}</td>
                <td><strong>Последний вход:</strong>
                    <p> {{ kwuser.last_login}}</td>
                <td>
                    <div class="admin-conf">
                        <button type="button" class="nav-btn">
                            <a href="{% url 'kwadmin:user_update' pk=kwuser.pk %}">
                                Редактировать
                            </a>
                        </button>
                        {% if kwuser.is_active %}
                        <button type="button" class="nav-btn">
                            <a href="{% url 'kwadmin:user_delete' pk=kwuser.pk %}">
                                Удалить
                            </a>
                        </button>
                        {% endif %}
                    </div>
                </td>
            <tr>
                {% endfor %}
        </table>
    </div>
    <div class="add-user">
        <button type="button" class="nav-btn add-user-btn">
            <a href="{% url 'kwadmin:user_create'  %}">
                Добавить пользователя
            </a>
        </button>
    </div>
</div>
{% endblock %}
