{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Админка. {% endblock %}</title>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!--    <script src="{% static 'js/cart.js' %}"></script>-->
</head>
<body>
    <header class="admin">
        <h1 class="admin-title">Админка</h1>
    </header>
    <main>
        {% include 'kwadmin/includes/inc__admin_nav.html' %}
            <div class="admin-container">
            {% block main %}
            {% endblock %}
        </div>
    </main>
<!--    <footer>-->
<!--    </footer>-->
</body>
</html>