{% extends 'kwadmin/base.html' %}
{% block title %} {{ block.super }}{{ title|default:"продукты"|title }} {% endblock %}

{% block main %}
<div class="admin-container">
    <div class="admin-add-category">
        <form class="add-user-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-btn">
                <input class="nav-btn save-btn" type="submit" value="Cохранить">
                <button type="button" class="nav-btn back-btn">
                    <a href="{% url 'kwadmin:category_products' cat.pk %}"> Назад </a>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
