{% extends 'main/base.html' %}
{% block title %} {{ block.super }}{{ title|default:"пользователи"|title }} {% endblock %}

{% block main %}
<div class="admin-container">
    <div class="admin-del-user">
        <h3>Здравствуйте, {{ user.username }}!</strong> </h3>
        <br>
        <h3>На вашу электронную почту {{ user.email }} направлено письмо со ссылкой активации учетной записи.
             Для завершения регистрации вам будет необходимо пройти по ней. Ссылка будет доступна в течение 24 часов.</h3>
        <br>
        <h3>Ждем вас в "Knitted World."</h3>
        <a href="{% url 'main:index' %}" class="buy-btn form-control center">
            На главную
        </a>

    </div>
</div>
{% endblock %}
